spring:
  application:
    name: CertiCoach
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    defer-datasource-initialization: true

server:
  port: 80
  servlet:
    context-path: /api

management:
  endpoints:
    web:
      exposure:
        include: "*"